<div class="row d-flex justify-content-center">
    <div class="header-box-container col-sm-3">
        <div class="header-icons ">
            <p class="text-icons icon-arrow">
                <%= link_to(animes_path) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                    </svg>
                <% end %>
            </p>
        </div>
    </div>

    <div class="page-content">
        <div class="detail">
            <h1 class="detail--title"> <%= anime[:title] %></h1>
            <div class="icon-content">
                
            </div>
            <div class="detail--main-content" >
                <img src="<%= anime[:images][:jpg][:image_url] %>" alt="image" class="media-poster">
                <div class="detail--main-content--synopsis">
                    <div class="detail--main-content--genres">
                        <strong>Synopsis:</strong>
                        <span class="detail--main-content--synopsis--content"><%= anime[:synopsis]  %></span>
                    </div>
                    <div class="detail--main-content--genres">
                        <strong>Genres: </strong>
                        <% anime[:genres].each_with_index do |genre,index| %>
                        	<span class="detail--main-content--genre"><%= genre[:name] %></span>
													<%= ',' unless index == anime[:genres].length - 1 %>
                        <% end %>
                        <strong>Studios: </strong>
												<% anime[:studios].each_with_index do |studio,index| %>
                        	<span class="detail--main-content--genre"><%= studio[:name] %></span>
													<%= ',' unless index == anime[:genres].length - 1 %>
                        <% end %>
                        <strong>Numero de episódios: </strong>
                        <span class="detail--main-content--genre"> <%= anime[:episodes] %></span>
                        <strong>Situação: </strong>
                        <span class="detail--main-content--genre"> <%= anime[:status] %></span>
                    </div>
										<%= form_with(model: @anime, url: cadastrar_anime_from_json_animes_path(anime: @anime_data.to_json), method: :post) do |form| %>
											<%= form.hidden_field :anime_id, value: @anime_data[:mal_id] %>
											<%= form.submit 'Cadastrar este Anime',class: "primary" %>
										<% end %>
                </div>
            </div>
        </div>
    </div>
</div>