<div class="row d-flex justify-content-center">
  <div class="page-content">
    <div class="detail">
      <% comments.each do |comment| %>
        <div class="detail--main-content" >
          <div class="detail--main-content--synopsis">
            <div class="detail--main-content--genres">
              <strong>user:</strong>
              <span class="detail--main-content--synopsis--content"><%= comment.user.name %></span>
            </div>
            <div class="detail--main-content--genres">
              <strong>Comentário:</strong>
              <span class="detail--main-content--synopsis--content"><%= comment.content %></span>
            </div>
            <%= form_with(model: CommentResponse.new, url: anime_comment_responses_path(comment.id), method: :post) do |form| %>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.hidden_field :comment_id, value: comment.id %>
              <div class="field">
                  <%= form.label :content, "Resposta" %>
                  <%= form.text_area :content, rows: 3 %>
              </div>
              <div class="actions">
                  <%= form.submit "Enviar Resposta" %>
              </div>
            <% end %>
            <% if @comment_responses.present? %>
            <%= render partial: 'comment_responses', locals: { comment_responses: comment.comment_responses } %>
            <% end %>
          </div>
        </div>          
      <% end %>
    </div>
  </div>
</div>
