<h4>Follows</h4><br>
<%= link_to  "Criar novo", new_anime_path%>
<%# destroy_user_session_path %>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">description</th>
      <th scope="col">genres</th>
      <th scope="col">episodes</th>
      <th scope="col">status</th>
      <th scope="col">#</th>
      <th scope="col">#</th>
      
    </tr>
  </thead>
  <tbody>
    <% @follows.each do |follow| %>
      
        <tr>
          <td><%= follow.id%></td>
          <td><%= follow.anime.name%></td>
          <td><%= follow.anime.description%></td>
          <td><%= follow.anime.genres%></td>
          <td><%= follow.anime.episodes%></td>
          <td><%= follow.anime.status%></td>
          <td><%= link_to("Show",follow.anime) %></td>
          <td><%= link_to("Deletar",remove_follows_path(follow),method: :delete,data: {confirm: "Are you sure?"})%></td>

        </tr>
      
    <% end %>
  </tbody>
</table>

